.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********************************************************************************
 *	+ WAVES EFFECT
 ***********************************************************************************/

.waves {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  -webkit-user-select: none;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  & .waves-ripple {
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
  }

  &.waves-dark .waves-ripple {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/***********************************************************************************
 *	+ old buttons
 ***********************************************************************************/

.btn-cus {
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
  color: #ffffff;
}

.btn-cus:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-cus-darkred {
  border: 1px solid #ffffff;
  background: #6b273c;
}

.btn-cus-purple {
  background: #68217a;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  border: 1px solid #ffffff;
}

.btn-cus-purple:hover {
  background: #a936c6;
}

.btn-cus-orange {
  background: #e55a0c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.btn-cus-orange:hover {
  background: #fe870d;
}

.text-orange {
  color: #e55a0c;
  font-weight: bold;
}

.btn-cus-border {
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
}

.btn-cus-border:hover {
  text-decoration: none;
}

.btn-border-red {
  border: 2px solid #c21500;
  color: #c21500;
}

.btn-border-red:hover {
  background: #c21500;
  color: #ffffff;
}

.btn-border-blue {
  border: 2px solid #2197c7;
  color: #2197c7;
}

.btn-border-blue:hover {
  background: #2197c7;
  color: #ffffff;
}

.btn-border-green {
  border: 2px solid #41b883;
  color: #41b883;
}

.btn-border-green:hover {
  background: #41b883;
  color: #ffffff;
}
